header, section {
	display: inline-block;
}

.left {
	float: left;
	width: 35%;
}

.right {
	float: right;
	width: 60%;
}

#headshot {
	display: block;
	text-align: center;
	margin: 50px auto 0;
	border: 2px solid #E13A63;
}

.experience {
	display: inline-block;
	clear: both;
	margin-top: 30px;
	text-align: center;
}

header, .experience {
	border: 2px solid #E13A63;
	padding: 10px;
}

/* Media query - iPhone 6/7/8 */

@media screen and (max-width: 375px) {
	header {
		display: inline-block;
		width: 320px;
		position: relative;
		margin: -6px;
		padding-left: 15px;
	}

	.left {
		float: left;
		width: 100%;
		margin: 20px 5px;
	}

	.right {
		float: right;
		width: 100%;
		margin: 20px 5px;
	}

	#headshot {
		display: block;
		text-align: center;
		margin: 20px auto 0;
		border: 2px solid #E13A63;
	}

	.experience {
		width: 325px;
		position: relative;
		margin: 20px -6px;
		display: inline-block;
		clear: both;
		text-align: center;
	}
}
